$fontRegular: 'Biennale Regular';
$fontBold: 'Biennale Bold';
$fontLight: 'Biennale Light';

$primaryColor: #25cbd3;
$primaryColorWithOpacity: #25cbd31f;
$primaryColorWithOpacity5: #25cbd30d;
$primaryColor3: #3bd32d;
$primaryColor4: #f0f5ff;
$primaryColor5: #a7fae9;

$greyColor: #7c7786;
$greyColor1: #4d4c4d;
$greyColor2: #7c7786;
$greyColor3: #dadada;
$greyColor4: #333333;
$greyColor4WithOpacity: #333333bf;

$error: #d44231;
$muted: #ff3049;

$desktopBreakpoint: 992px;
